@use '@/app/Vars.scss' as *;

.auth-modal {
  &.auth-modal--big {
    max-width: 1040px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__back:hover &__arrow path {
    stroke: $colorEco2Grey;
  }

  &__share {
    margin-bottom: 40px;
  }

  &__card {
    background-image: url('/images/share-bg.jpg');
    background-size: cover;
    border-radius: 16px;
    padding: 32px 28px;
    color: $colorWhite;
  }

  &__score {
    display: flex;
    align-items: center;
  }

  &__avatar {
    border-radius: 100px;
  }

  &__centr {
    margin-left: 10px;
  }

  &__centr-name {
    font-size: 40px;
    line-height: 50px;
    max-width: 372px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $fontRowdies;
  }

  &__centr-rang {
    margin: 4px 0 16px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: $colorMiddleGreen;
    font-family: $fontMontserrat;
  }

  &__centr-item {
    display: flex;
    gap: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__centr-opacity {
    opacity: 0.6;
    font-family: $fontMontserrat;
  }

  &__centr-number {
    font-family: $fontMontserrat;
  }

  &__right {
    margin-left: auto;
  }

  &__right-text {
    font-size: 20px;
    line-height: 25px;
    text-align: end;
    font-family: $fontRowdies;
  }

  &__right-count {
    font-weight: 700;
    font-size: 136px;
    font-family: $fontMontserrat;
  }

  &__badges {
    margin-top: 24px;
  }

  &__badges-text {
    margin-top: 24px;
    font-size: 28px;
    line-height: 35px;
    font-family: $fontRowdies;
  }

  &__badges-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__badge {
    border-radius: 100%;
  }

  &__title {
    margin-top: 24px;
    font-size: 40px !important;
    line-height: 40px !important;
    text-align: center;
  }
}
