@use '@/app/Vars.scss' as *;

.puffins-links {
  padding: 9.5px 8px;
  border-radius: 12px;
  background: rgba($colorWhite, 0.2);

  &__ul {
    display: flex;
    gap: 4px;
  }

  &__li {
    display: flex;
  }

  &__link {
    height: 49px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorWhite;
    font-family: $fontRowdies;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background: transparent;
    border-radius: 12px;

    &:hover,
    &--active {
      background: rgba($colorWhite, 0.35);
    }
  }
}
